---
- name: deploy zfs
  tasks: 
    - name: apt dependencies
      package:
        name: 
          - zfsutil-linux
        state: present

    - name: create zfs directory
      file:
        path: /home/user/zfs
        state: directory

    - name: transfer config
      copy: 
        src: ./config.yaml
        dest: /home/user/zfs/config.yaml
    
    - name: transfer script
      copy:
       src: ./script.py
       dest: /home/user/zfs/script.py

    - name: execute script
      command: python3 /home/user/zfs/script.py
    
    